In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import matplotlib.ticker as mticks

import missingno as miss

import seaborn as sns
import numpy as np
# import statsmodels.tsa.api as tsa

pd.set_option('display.float_format',lambda x:f"{x:,.2f}")

In [2]:
crime_2001 = pd.read_csv('Data/Chicago/Chicago-Crime_2001.csv')
crime_2002 = pd.read_csv('Data/Chicago/Chicago-Crime_2002.csv')
crime_2003 = pd.read_csv('Data/Chicago/Chicago-Crime_2003.csv')
crime_2004 = pd.read_csv('Data/Chicago/Chicago-Crime_2004.csv')
crime_2005 = pd.read_csv('Data/Chicago/Chicago-Crime_2005.csv')
crime_2006 = pd.read_csv('Data/Chicago/Chicago-Crime_2006.csv')
crime_2007 = pd.read_csv('Data/Chicago/Chicago-Crime_2007.csv')
crime_2008 = pd.read_csv('Data/Chicago/Chicago-Crime_2008.csv')
crime_2009 = pd.read_csv('Data/Chicago/Chicago-Crime_2009.csv')
crime_2010 = pd.read_csv('Data/Chicago/Chicago-Crime_2010.csv')
crime_2011 = pd.read_csv('Data/Chicago/Chicago-Crime_2011.csv')
crime_2012 = pd.read_csv('Data/Chicago/Chicago-Crime_2012.csv')
crime_2013 = pd.read_csv('Data/Chicago/Chicago-Crime_2013.csv')
crime_2014 = pd.read_csv('Data/Chicago/Chicago-Crime_2014.csv')
crime_2015 = pd.read_csv('Data/Chicago/Chicago-Crime_2015.csv')
crime_2016 = pd.read_csv('Data/Chicago/Chicago-Crime_2016.csv')
crime_2017 = pd.read_csv('Data/Chicago/Chicago-Crime_2017.csv')
crime_2018 = pd.read_csv('Data/Chicago/Chicago-Crime_2018.csv')
crime_2019 = pd.read_csv('Data/Chicago/Chicago-Crime_2019.csv')
crime_2020 = pd.read_csv('Data/Chicago/Chicago-Crime_2020.csv')
crime_2021 = pd.read_csv('Data/Chicago/Chicago-Crime_2021.csv')
crime_2022 = pd.read_csv('Data/Chicago/Chicago-Crime_2022.csv')
crime_2023 = pd.read_csv('Data/Chicago/Chicago-Crime_2023.csv')
crime_holiday = pd.read_csv('Data/Holidays-Chicago.csv')

In [4]:
df = pd.concat([crime_2001, crime_2002, crime_2003, crime_2004, crime_2005, crime_2006, crime_2007, crime_2008, crime_2009, crime_2010, crime_2011, crime_2012, crime_2013, crime_2014, crime_2015, crime_2016, crime_2017, crime_2018, crime_2019, crime_2020, crime_2021, crime_2022, crime_2023, crime_holiday], ignore_index=True)
df.head()

,ID,Date,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Latitude,Longitude,US Holidays,State Holidays
0,"1,311,123.00",01/01/2001 01:00:00 AM,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,"1,223.00",12.00,NaN,41.85,-87.68,NaN,NaN
1,"1,318,099.00",01/01/2001 01:00:00 AM,BATTERY,SIMPLE,RESIDENCE PORCH/HALLWAY,False,True,214.00,2.00,NaN,41.82,-87.62,NaN,NaN
2,"1,309,918.00",01/01/2001 01:00:00 AM,THEFT,$500 AND UNDER,TAVERN/LIQUOR STORE,False,False,"1,924.00",19.00,NaN,41.94,-87.65,NaN,NaN
3,"1,323,691.00",01/01/2001 01:00:00 AM,WEAPONS VIOLATION,UNLAWFUL POSS OF HANDGUN,STREET,False,False,"1,135.00",11.00,NaN,41.87,-87.69,NaN,NaN
4,"1,326,041.00",01/01/2001 01:00:00 AM,BATTERY,SIMPLE,RESIDENCE,False,False,"1,624.00",16.00,NaN,41.96,-87.75,NaN,NaN

In [6]:
ts_df = df.copy()
ts_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7791149 entries, 0 to 7791148
Data columns (total 14 columns):
 #   Column                Dtype
---  ------                -----
 0   ID                    float64
 1   Date                  object
 2   Primary Type          object
 3   Description           object
 4   Location Description  object
 5   Arrest                object
 6   Domestic              object
 7   Beat                  float64
 8   District              float64
 9   Ward                  float64
 10  Latitude              float64
 11  Longitude             float64
 12  US Holidays           object
 13  State Holidays        object
dtypes: float64(6), object(8)
memory usage: 832.2+ MB

In [8]:
## Make a datetime index using pd.to_datetime
ts_df['Datetime'] = pd.to_datetime(ts_df['Date'])
ts_df

,ID,Date,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Latitude,Longitude,US Holidays,State Holidays,Datetime
0,"1,311,123.00",01/01/2001 01:00:00 AM,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,"1,223.00",12.00,NaN,41.85,-87.68,NaN,NaN,2001-01-01 01:00:00
1,"1,318,099.00",01/01/2001 01:00:00 AM,BATTERY,SIMPLE,RESIDENCE PORCH/HALLWAY,False,True,214.00,2.00,NaN,41.82,-87.62,NaN,NaN,2001-01-01 01:00:00
2,"1,309,918.00",01/01/2001 01:00:00 AM,THEFT,$500 AND UNDER,TAVERN/LIQUOR STORE,False,False,"1,924.00",19.00,NaN,41.94,-87.65,NaN,NaN,2001-01-01 01:00:00
3,"1,323,691.00",01/01/2001 01:00:00 AM,WEAPONS VIOLATION,UNLAWFUL POSS OF HANDGUN,STREET,False,False,"1,135.00",11.00,NaN,41.87,-87.69,NaN,NaN,2001-01-01 01:00:00
4,"1,326,041.00",01/01/2001 01:00:00 AM,BATTERY,SIMPLE,RESIDENCE,False,False,"1,624.00",16.00,NaN,41.96,-87.75,NaN,NaN,2001-01-01 01:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7791144,NaN,2022-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-09-30 00:00:00
7791145,NaN,2022-10-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-10-01 00:00:00
7791146,NaN,2022-10-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-10-02 00:00:00
7791147,NaN,2022-10-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-10-03 00:00:00
7791148,NaN,2022-10-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-10-04 00:00:00

In [9]:
## Setting the datetime index
ts_df = ts_df.set_index("Datetime")
ts_df

,ID,Date,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Latitude,Longitude,US Holidays,State Holidays
Datetime,,,,,,,,,,,,,,
2001-01-01 01:00:00,"1,311,123.00",01/01/2001 01:00:00 AM,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,"1,223.00",12.00,NaN,41.85,-87.68,NaN,NaN
2001-01-01 01:00:00,"1,318,099.00",01/01/2001 01:00:00 AM,BATTERY,SIMPLE,RESIDENCE PORCH/HALLWAY,False,True,214.00,2.00,NaN,41.82,-87.62,NaN,NaN
2001-01-01 01:00:00,"1,309,918.00",01/01/2001 01:00:00 AM,THEFT,$500 AND UNDER,TAVERN/LIQUOR STORE,False,False,"1,924.00",19.00,NaN,41.94,-87.65,NaN,NaN
2001-01-01 01:00:00,"1,323,691.00",01/01/2001 01:00:00 AM,WEAPONS VIOLATION,UNLAWFUL POSS OF HANDGUN,STREET,False,False,"1,135.00",11.00,NaN,41.87,-87.69,NaN,NaN
2001-01-01 01:00:00,"1,326,041.00",01/01/2001 01:00:00 AM,BATTERY,SIMPLE,RESIDENCE,False,False,"1,624.00",16.00,NaN,41.96,-87.75,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-09-30 00:00:00,NaN,2022-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-10-01 00:00:00,NaN,2022-10-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-10-02 00:00:00,NaN,2022-10-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-10-03 00:00:00,NaN,2022-10-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-10-04 00:00:00,NaN,2022-10-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
ts_df.isna().sum()

ID                         7947
Date                          0
Primary Type               7947
Description                7947
Location Description      18311
Arrest                     7947
Domestic                   7947
Beat                       7947
District                   7994
Ward                     622795
Latitude                  94734
Longitude                 94734
US Holidays             7790905
State Holidays          7790848
dtype: int64

In [13]:
ts_df.dropna(subset=['District'], inplace=True)
ts_df

,ID,Date,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Latitude,Longitude,US Holidays,State Holidays
Datetime,,,,,,,,,,,,,,
2001-01-01 01:00:00,"1,311,123.00",01/01/2001 01:00:00 AM,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,"1,223.00",12.00,NaN,41.85,-87.68,NaN,NaN
2001-01-01 01:00:00,"1,318,099.00",01/01/2001 01:00:00 AM,BATTERY,SIMPLE,RESIDENCE PORCH/HALLWAY,False,True,214.00,2.00,NaN,41.82,-87.62,NaN,NaN
2001-01-01 01:00:00,"1,309,918.00",01/01/2001 01:00:00 AM,THEFT,$500 AND UNDER,TAVERN/LIQUOR STORE,False,False,"1,924.00",19.00,NaN,41.94,-87.65,NaN,NaN
2001-01-01 01:00:00,"1,323,691.00",01/01/2001 01:00:00 AM,WEAPONS VIOLATION,UNLAWFUL POSS OF HANDGUN,STREET,False,False,"1,135.00",11.00,NaN,41.87,-87.69,NaN,NaN
2001-01-01 01:00:00,"1,326,041.00",01/01/2001 01:00:00 AM,BATTERY,SIMPLE,RESIDENCE,False,False,"1,624.00",16.00,NaN,41.96,-87.75,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-04-19 12:50:00,"13,047,140.00",04/19/2023 12:50:00 PM,BATTERY,SIMPLE,TAVERN / LIQUOR STORE,False,False,725.00,7.00,16.00,41.77,-87.66,NaN,NaN
2023-04-19 12:51:00,"13,047,255.00",04/19/2023 12:51:00 PM,DECEPTIVE PRACTICE,COMPUTER FRAUD,RESIDENCE,False,False,"2,514.00",25.00,31.00,41.93,-87.76,NaN,NaN
2023-04-19 12:55:00,"13,047,517.00",04/19/2023 12:55:00 PM,OTHER OFFENSE,TELEPHONE THREAT,HOSPITAL BUILDING / GROUNDS,False,True,332.00,3.00,5.00,41.77,-87.59,NaN,NaN
2023-04-19 12:56:00,"13,047,228.00",04/19/2023 12:56:00 PM,OTHER OFFENSE,OTHER WEAPONS VIOLATION,SIDEWALK,True,False,"2,534.00",25.00,37.00,41.90,-87.73,NaN,NaN
2023-04-19 12:56:00,"13,047,149.00",04/19/2023 12:56:00 PM,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,True,731.00,7.00,6.00,41.76,-87.63,NaN,NaN

In [14]:
ts_df.isna().sum()

ID                            0
Date                          0
Primary Type                  0
Description                   0
Location Description      10364
Arrest                        0
Domestic                      0
Beat                          0
District                      0
Ward                     614848
Latitude                  86787
Longitude                 86787
US Holidays             7783155
State Holidays          7783155
dtype: int64

In [18]:
ts_df['State Holidays'] = ts_df['State Holidays'].fillna('None')
ts_df['US Holidays'] = ts_df['US Holidays'].fillna('None')
ts_df.isna().sum()

ID                           0
Date                         0
Primary Type                 0
Description                  0
Location Description     10364
Arrest                       0
Domestic                     0
Beat                         0
District                     0
Ward                    614848
Latitude                 86787
Longitude                86787
US Holidays                  0
State Holidays               0
dtype: int64