In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import matplotlib.ticker as mticks

import missingno as miss

import seaborn as sns
import numpy as np
# import statsmodels.tsa.api as tsa

pd.set_option('display.float_format',lambda x:f"{x:,.2f}")
# Display all values in column
pd.set_option('display.max_rows', None)

In [2]:
crime_2001 = pd.read_csv('Data/Chicago/Chicago-Crime_2001.csv')
crime_2002 = pd.read_csv('Data/Chicago/Chicago-Crime_2002.csv')
crime_2003 = pd.read_csv('Data/Chicago/Chicago-Crime_2003.csv')
crime_2004 = pd.read_csv('Data/Chicago/Chicago-Crime_2004.csv')
crime_2005 = pd.read_csv('Data/Chicago/Chicago-Crime_2005.csv')
crime_2006 = pd.read_csv('Data/Chicago/Chicago-Crime_2006.csv')
crime_2007 = pd.read_csv('Data/Chicago/Chicago-Crime_2007.csv')
crime_2008 = pd.read_csv('Data/Chicago/Chicago-Crime_2008.csv')
crime_2009 = pd.read_csv('Data/Chicago/Chicago-Crime_2009.csv')
crime_2010 = pd.read_csv('Data/Chicago/Chicago-Crime_2010.csv')
crime_2011 = pd.read_csv('Data/Chicago/Chicago-Crime_2011.csv')
crime_2012 = pd.read_csv('Data/Chicago/Chicago-Crime_2012.csv')
crime_2013 = pd.read_csv('Data/Chicago/Chicago-Crime_2013.csv')
crime_2014 = pd.read_csv('Data/Chicago/Chicago-Crime_2014.csv')
crime_2015 = pd.read_csv('Data/Chicago/Chicago-Crime_2015.csv')
crime_2016 = pd.read_csv('Data/Chicago/Chicago-Crime_2016.csv')
crime_2017 = pd.read_csv('Data/Chicago/Chicago-Crime_2017.csv')
crime_2018 = pd.read_csv('Data/Chicago/Chicago-Crime_2018.csv')
crime_2019 = pd.read_csv('Data/Chicago/Chicago-Crime_2019.csv')
crime_2020 = pd.read_csv('Data/Chicago/Chicago-Crime_2020.csv')
crime_2021 = pd.read_csv('Data/Chicago/Chicago-Crime_2021.csv')
crime_2022 = pd.read_csv('Data/Chicago/Chicago-Crime_2022.csv')
crime_2023 = pd.read_csv('Data/Chicago/Chicago-Crime_2023.csv')
crime_holiday = pd.read_csv('Data/Holidays-Chicago.csv')

In [3]:
df = pd.concat([crime_2001, crime_2002, crime_2003, crime_2004, crime_2005, crime_2006, crime_2007, crime_2008, crime_2009, crime_2010, crime_2011, crime_2012, crime_2013, crime_2014, crime_2015, crime_2016, crime_2017, crime_2018, crime_2019, crime_2020, crime_2021, crime_2022, crime_2023, crime_holiday], ignore_index=True)
df.head()

,ID,Date,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Latitude,Longitude,US Holidays,State Holidays
0,"1,311,123.00",01/01/2001 01:00:00 AM,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,"1,223.00",12.00,NaN,41.85,-87.68,NaN,NaN
1,"1,318,099.00",01/01/2001 01:00:00 AM,BATTERY,SIMPLE,RESIDENCE PORCH/HALLWAY,False,True,214.00,2.00,NaN,41.82,-87.62,NaN,NaN
2,"1,309,918.00",01/01/2001 01:00:00 AM,THEFT,$500 AND UNDER,TAVERN/LIQUOR STORE,False,False,"1,924.00",19.00,NaN,41.94,-87.65,NaN,NaN
3,"1,323,691.00",01/01/2001 01:00:00 AM,WEAPONS VIOLATION,UNLAWFUL POSS OF HANDGUN,STREET,False,False,"1,135.00",11.00,NaN,41.87,-87.69,NaN,NaN
4,"1,326,041.00",01/01/2001 01:00:00 AM,BATTERY,SIMPLE,RESIDENCE,False,False,"1,624.00",16.00,NaN,41.96,-87.75,NaN,NaN

In [4]:
ts_df = df.copy()
ts_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7791149 entries, 0 to 7791148
Data columns (total 14 columns):
 #   Column                Dtype
---  ------                -----
 0   ID                    float64
 1   Date                  object
 2   Primary Type          object
 3   Description           object
 4   Location Description  object
 5   Arrest                object
 6   Domestic              object
 7   Beat                  float64
 8   District              float64
 9   Ward                  float64
 10  Latitude              float64
 11  Longitude             float64
 12  US Holidays           object
 13  State Holidays        object
dtypes: float64(6), object(8)
memory usage: 832.2+ MB

In [5]:
## Make a datetime datatype using pd.to_datetime
ts_df['Datetime'] = pd.to_datetime(ts_df['Date'])
ts_df

In [6]:
ts_df['Year'] = ts_df['Datetime'].dt.year
ts_df['Month '] = ts_df['Datetime'].dt.month
ts_df['Month Name'] = ts_df['Datetime'].dt.month_name()
ts_df['Day of Month'] = ts_df['Datetime'].dt.day
ts_df['Day of Week'] = ts_df['Datetime'].dt.day_name()
ts_df['Hour'] = ts_df['Datetime'].dt.hour

In [ ]:
## Setting the datetime index
ts_df = ts_df.set_index("Datetime")
ts_df

In [ ]:
ts_df.isna().sum()

In [ ]:
ts_df.dropna(subset=['District'], inplace=True)
ts_df